[submodule "zep"]
	path = zep
	url = https://github.com/Rezonality/zep
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "external/zing"]
	path = external/zing
	url = https://github.com/Rezonality/zing
