[submodule "zep"]
	path = zep
	url = https://github.com/Rezonality/zep
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "external/zing"]
	path = external/zing
	url = https://github.com/Rezonality/zing
[submodule "external/rccp"]
	path = external/rccp
	url = https://github.com/RuntimeCompiledCPlusPlus/RuntimeCompiledCPlusPlus
[submodule "external/nanovg_vulkan"]
	path = external/nanovg_vulkan
	url = https://github.com/danilw/nanovg_vulkan.git
